<h1>Acerca de mí.</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "BarAthlete.jpg", width: 250, alt: "profile-image" %>
	</div>
	<div class="col-md-8">
		<p class="lead">
			Renuncie al tradicional horario laboral 9-6 que la mayoría busca (por salud mental-física-espiritual) y que me consumía por completo sin estar tranquilo, ahora solo genero ingresos de manera freelance y aprendo de forma autodidacta para intentar vivir una vida saludable y muy activa y así poder ofrecer mi mejor versión a todos mis seres queridos y la gente que me rodea.
		</p>

		<p class="lead">
			De esta manera a primeras instancias soy más feliz ya que tengo más tiempo para dedicarme a las cosas que amo hacer (Calisthenics-TrailRunning-Aprender-Vivir), Muchas metas por cumplir aun y con mucha hambre de seguir compitiendo en eventos de Trail Running, escucharan más de mi muy pronto.
		</p>
	</div>
</div>