<h1>Ponte en contacto conmigo.</h1>

<hr>

<div class="row">
	<div class="col-md-6">
		<h3>Numero Personal</h3>
		<p><%= number_to_phone "7751266035" %></p>

		<h3>Correo</h3>
		<p><a href="mailto:ivanrc19@gmail.com?subject=SiteContact" "email me">Enviar correo</a></p>

		<h3>Xihuingo Lugar Favorito</h3>
		<p>El mejor lugar para entrenar en mi localidad, muy exigente por cierto.</p>
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100998.36819145278!2d-98.60123473000675!3d19.82410880417273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1b4451f7a3155%3A0x38963291e1df8eac!2sArchaeological%20Zone%20Xihuingo!5e0!3m2!1sen!2smx!4v1584486471590!5m2!1sen!2smx" width="400" height="280" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
</div>