<div class="inner cover">
    <h1 class="cover-heading">Bienvenido.</h1>
    	<p class="lead">"Los dos dias mas importantes en la vida de una persona, 
    	son el día en que naces y el día en el que descubres para que naciste."</p>
    	<p class="lead">- Desconocido -</p>
   	<p class="lead">
    	<%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>